{% extends 'base.html' %}

{% block pagination %}
    <div class = "row-lg justify-center">
        {% for object in objects %}
            <div class = "col-3 p1">
                <div class = "card bg-light" style = "width: 18rem;">
                    <div class = "card-body">
                        <h5 class = "card-title">{{ object.publisher }}</h5>
                        <h6 class = "card-subtitle mb-2 text-muted">{{ object.name }}</h6>
                        <p class = "card-text">{{ object.description }}</p>
                        <p class = "card-text">{{ object.show_type }}</p>
                    </div>
                </div>
            </div>
            
            <div class = "col-3 p1">
                <div class = "card bg-light" style = "width: 18rem;">
                    <div class ="card-body">
                        <h5 class = "card-title">{{ object.publisher }}</h5>
                        <h6 class = "card-subtitle mb-2 text-muted">{{ object.name }}</h6>
                        <p class = "card-text">{{ object.description }}</p>
                        <p class = "card-text">{{ object.show_type }}</p>
                    </div>
                </div>
            </div>
            
            <div class = "col-3 p1">
                <div class = "card bg-light" style = "width: 18rem;">
                    <div class = "card-body">
                        <h5 class = "card-title">{{ object.publisher }}</h5>
                        <h6 class = "card-subtitle mb-2 text-muted">{{ object.name }}</h6>
                        <p class = "card-text">{{ object.description }}</p>
                        <p class = "card-text">{{ object.show_type }}</p>
                    </div>
                </div>
            </div>   
        {% endfor %}
    </div>
{% endblock pagination %}